.svg-style {
    width: 60px;
    height: 60px;
}

.svg-style-6x6 {
    width: 40px;
    height: 40px;
}

.disable {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    z-index: 999;
}